<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="menu-bar">
        <img class="pen" src="/images/Logo.PNG" alt="">
        <ul>
        <li class="active"><a href="/"><i class="fa fa-home "></i> Home</a> </li>
        <li><a href="/adminlogin"><i class="fa fa-users "></i>Agent's Portal</a> 
    </li>
        <li><a href="/adminlogin"> <i class="fa fa-lock "></i> Admin Portal</a> 
        </li>
        <li><a  href="#"> <i class="fa fa-phone "></i> Contact Us</a>  </li>
    </ul>
    </div>     
</body>
</html>